**/.vs

PasswordManager/Interface/bin/**
PasswordManager/Interface/obj/**

PasswordManager/SecurityUtility/bin/**
PasswordManager/SecurityUtility/obj/**

PasswordManager/DataBaseManager/bin/**
PasswordManager/DataBaseManager/obj/**
